.button {
    margin: 30px;
    padding: 10px;
    width: 50%;
    background-color: #003600;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  .error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
justify-content: center;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 999;
  }

  .iconos {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:12px;
    background:#0E7774;
    border-radius:10px;
    width: 50%;
    flex-wrap: wrap;

  }
  .form{
    display: flex;
    align-items: center;
    flex-direction: column;
  }