.info-box {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 10px;
    background-color: #0E7774;
    color: white;
    border-radius: 5px;
  }
iframe {
    align-items: center;
    width:100%;
    height: 100%;;
  
  }